<!DOCTYPE HTML>
<!--

	Parallelism 1.1 by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)

-->
<html ng-app="MiruSite">
	<head>
		<title>白間美瑠応援サイト</title>
		<meta name="viewport" content="width=1120,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="白間美瑠, NMB48, AKB48, みるるん, みる, 総選挙, Team M, チームM" />
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400" rel="stylesheet" type="text/css" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script>-->
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.poptrox.js"></script>
		<script src="js/config.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/custom-angular.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel-noscript.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-desktop.css" />
			<link rel="stylesheet" href="css/style-noscript.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	</head>
	<body ng-controller="Posts">
		<div id="wrapper">
			<div id="main">
				<div id="reel">
				<!-- ******************************************************************************************** -->
				<!-- ******************************************************************************************** -->
					<!-- Header Item -->
						<div id="header" class="item" data-width="400">
							<h1>みるるん</h1>
							<p><span style="text-transform: none">NMB48 Team M</span><br />
							白間美瑠</p>
						</div>
					<!-- Thumb Items -->
						<!-- 
						<article class="item thumb" data-width="350" id="youtube_comment">
							<a href="http://youtu.be/YHmf7UUvu5M" data-poptrox="youtube,800x480"><img src="images/miru/miru_senkyo.jpg" alt="" title="" /></a>
						</article>
						
						<article class="item thumb" data-width="350">
							<a href="content.html" data-poptrox="iframe,700x660"><img src="images/miru/vote.jpg" alt="" title="" /></a>
						</article>
						 -->
						
						<article class="item thumb" data-width="282" ng-repeat="p in posts">
							<a href="iframe.html?postId={{p.postId}}" data-poptrox="iframe,700x660"><img ng-src="{{p.thumbnail}}" alt="" title="" /></a>
						</article>
						
				<!-- ******************************************************************************************** -->
				<!-- ******************************************************************************************** -->
				</div>
			</div>
		
			<div id="footer">
				<div class="left">
					<p><br />白間美瑠応援サイト</p>
				</div>
				<div class="right">
					<ul class="contact">
						<li><a href="#" class="fa fa-twitter solo"><span>Twitter</span></a></li>
						<li><a href="#" class="fa fa-facebook solo"><span>Facebook</span></a></li>
						<li><a href="#" class="fa fa-google-plus solo"><span>Google+</span></a></li>
						<li><a href="#" class="fa fa-envelope solo"><span>Email</span></a></li>
					</ul>
					<div id="copyright">
						&copy; Design: <a href="http://html5up.net/">HTML5 UP</a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>